<%-include("partials/header") -%>


<div class="post2">	

<img class=im src="https://source.unsplash.com/1600x900/?<%=tt%>" alt="">
<h1 class="v1" ><%=tt%></h1>

<p class="v2"><%=tp%></p>


</div>

	
<%-include("partials/footer") -%>